@model dveri2.Models.ModelCommentCreate
@{
    ViewBag.Title = "Оставьте свой отзыв";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Добавьте свой отзыв:</h2>
    @using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post))
    {
        <div class="fieldset">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.IdDv)
            @Html.LabelFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.LabelFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            @*тут выбор количества звезд*@
            <div>
                @*радиобаттоны сделали невидимыми, а но к ним привязали label  и по клику по лэйбу срабатывает значение как по
                    радиобаттону и передается в ModelStars чтобы выбранный рейтинг подсвечивался используется JS*@
                <label class="mt10">Выберите колличество звезд*:</label>
                @Html.RadioButtonFor(m => m.Stars, 1, new { @class = "rating-hide", id = "idrb1" })
                @Html.RadioButtonFor(m => m.Stars, 2, new { @class = "rating-hide", id = "idrb2" })
                @Html.RadioButtonFor(m => m.Stars, 3, new { @class = "rating-hide", id = "idrb3" })
                @Html.RadioButtonFor(m => m.Stars, 4, new { @class = "rating-hide", id = "idrb4" })
                @Html.RadioButtonFor(m => m.Stars, 5, new { @class = "rating-hide", id = "idrb5" })

                <dl class="star-rating">
                    <dd>
                        <ol>
                            <li><label class="rb star1" for="idrb1" id="1"></label></li>
                            <li><label class="rb star2" for="idrb2" id="2"></label></li>
                            <li><label class="rb star3" for="idrb3" id="3"></label></li>
                            <li><label class="rb star4" for="idrb4" id="4"></label></li>
                            <li><label class="rb star5" for="idrb5" id="5"></label></li>
                        </ol>
                    </dd>
                </dl>
            </div>
            @Html.LabelFor(m => m.Head)
            @Html.ValidationMessageFor(m => m.Head)
            @Html.TextBoxFor(m => m.Head, new { @class = "form-control" })
            @Html.LabelFor(m => m.Comm)
            @Html.ValidationMessageFor(m => m.Comm)
            @Html.TextAreaFor(m => m.Comm, new { @class = "form-control", rows = 5 })
        </div>
        <p style="font-size:small">Поле отмеченное звездочкой заполнить обязательно!</p>
        <div style="margin-top:20px">
            <input type="submit" value="Добавить отзыв" class="showadd" />
            @if (Model.IdDv == 0)
            {
                @Html.ActionLink("Отменить", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri")
            }
            else
            {
                @Html.ActionLink("Отменить", "TovarPage", "MegkomnatnyeDveri", new { id = Model.IdDv }, null)
            }
        </div>

    }
</div>
@*скрипт для выдеоения текущего рейтинга выбранного звездами*@
<script>
    $(document).ready(function(){
        $('.rb').on('click', function () {
           var idclick = $(this).attr("id");
            switch(idclick)
            {
                case "1":
                {
                    $(".rb").removeClass("current");
                    $(".star1").addClass("current");
                    break;
                }
                case "2":
                    {
                        $(".rb").removeClass("current");
                        $(".star1").addClass("current");
                        $(".star2").addClass("current");
                        break;
                    }
                case "3":
                    {
                        $(".rb").removeClass("current");
                        $(".star1").addClass("current");
                        $(".star2").addClass("current");
                        $(".star3").addClass("current");
                        break;
                    }
                case "4":
                    {
                        $(".rb").removeClass("current");
                        $(".star1").addClass("current");
                        $(".star2").addClass("current");
                        $(".star3").addClass("current");
                        $(".star4").addClass("current");
                        break;
                    }
                case "5":
                    {
                        $(".rb").addClass("current");
                        break;
                    }
                default: break;
            }

        });
    });
</script>
<script>
    $(".mainmen").removeClass("current")
    $(".m6").addClass("current")
</script>