@model dveri1.Models.ContactModel
@{
    ViewBag.Title = "Управление контактными данными";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent">
    <h3>Контактная информация</h3>
    <table class="table_dark" style="font-size:0.9em">
        <tr>
            <th>Тип связи</th>
            <th>Номер абонента</th>
            <th></th>
        </tr>
        @foreach (var i in Model.ContactList)
        {
            <tr>
                <td>@Html.ActionLink(i.TypeSv , "ChangeContact", "Contact", new { id = i.Id },null)</td>
                <td>@Html.ActionLink(i.NumberSv, "ChangeContact", "Contact", new { id = i.Id },null)</td>             
                <td>@Html.ActionLink("Удалить", "DellContact", "Contact", new { id = i.Id}, new { @class = "tablebut", style = "width:100px" })</td>
            </tr>
        }
    </table>
    <div style="margin:1em;">
        @Html.ActionLink("Добавить контакт", "CreateContact", "Contact", new { @class = "tablebut", style = "width:150px" })
    </div>
    <hr />
</div>

<div class="tablecontent">
    <h3>Расписание работы</h3>
    <table class="table_dark" style="font-size:0.9em">
        <tr>
            <th>Дни работы</th>
            <th>Время работы</th>
            <th></th>
        </tr>
        @foreach (var i in Model.GrafikWorkList)
        {
            <tr>
                <td>@Html.ActionLink(i.NameDay, "ChangeGrafik", "Contact", new { id = i.Id },null)</td>
                <td>@Html.ActionLink(i.TimeWork, "ChangeGrafik", "Contact", new { id = i.Id },null)</td>
                <td>@Html.ActionLink("Удалить", "DellGrafik", "Contact", new { id = i.Id }, new { @class = "tablebut", style = "width:100px" })</td>
            </tr>
        }
    </table>
    <div style="margin:1em;">
        @Html.ActionLink("Добавить время", "CreateGrafik", "Contact", new { @class = "tablebut", style = "width:150px" })
    </div>
    <hr />
</div>

<div class="tablecontent">
    <h3>Адреса офисов</h3>
    <table class="table_dark" style="font-size:0.9em">
        <tr>
            <th>Номер в списке</th>
            <th>Адрес</th>
            <th></th>
        </tr>
        @foreach (var i in Model.AdresList)
        {
            <tr>
                <td>@Html.ActionLink(i.Id.ToString(), "ChangeAdres", "Contact", new { id = i.Id },null)</td>
                <td>@Html.ActionLink(i.AdresName, "ChangeAdres", "Contact", new { id = i.Id },null)</td>
                <td>@Html.ActionLink("Удалить", "DellAdres", "Contact", new { id = i.Id }, new { @class = "tablebut", style = "width:100px" })</td>
            </tr>
        }
    </table>
    <div style="margin:1em;">
        @Html.ActionLink("Добавить адрес", "CreateAdres", "Contact", new { @class = "tablebut", style = "width:150px" })
    </div>
    <hr />
</div>