@model dveri1.Models.CreateGrafikModel
@{
    ViewBag.Title = "Изменение периода работы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent" style="text-align:center;color:black;">
    <h4>@ViewBag.CreateContact</h4>
    <hr />
    @using (Html.BeginForm("ChangeGrafik", "Contact", FormMethod.Post))
    {
        <div class="fieldset">
            @Html.HiddenFor(m => m.IDGrafik)
            <label>Дни работы</label>
            @Html.ValidationMessageFor(m => m.Day)
            @Html.TextBoxFor(m => m.Day, new { @class = "form-control" })
            <label>Период времени работы</label>
            @Html.ValidationMessageFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
        </div>

        <div style="margin-top:20px">
            <input type="submit" value="Сохранить" class="showadd" />
            @Html.ActionLink("Отменить", "AdminContact")
        </div>

    }

</div>
