@model dveri1.Models.CreateAdresModel
@{
    ViewBag.Title = "Изменение адреса офиса";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="tablecontent" style="text-align:center;color:black;">
    <h4>@ViewBag.CreateContact</h4>
    <hr />
    @using (Html.BeginForm("ChangeAdres", "Contact", FormMethod.Post))
    {
        <div class="fieldset">
            @Html.HiddenFor(m => m.IDAdres)
            <label>Адрес расположения офиса</label>
            @Html.ValidationMessageFor(m => m.AdresName)
            @Html.TextBoxFor(m => m.AdresName, new { @class = "form-control" })
        </div>

        <div style="margin-top:20px">
            <input type="submit" value="Сохранить" class="showadd" />
            @Html.ActionLink("Отменить", "AdminContact")
        </div>

    }

</div>
