@using dveri1.HtmlHelpers;
@model dveri1.Models.ForMainModel
  
    <div class="allspisok">
        @foreach (var i in Model.ListVhodnDv)
        {
              <div class="shortproduct">
                    <div class="imageshort">
                       @if (i.Skidka == null || i.Skidka == 0)
                       {
                            if (i.FotoVhodnyhDvereys.FirstOrDefault() == null)
                               {
                                <img src="~/Content/imageDefault.jpg" height="240px" width="110px" />
                               }
                               else
                               {
                                <img class="img-thumbnail" style="width:110px;height:240px" src="@Url.Action("GetImage", "Home", new { i.Id })" />
                           }
                       }
                       else
                       {
                           if (i.FotoVhodnyhDvereys.FirstOrDefault() == null)
                           {
                            <span class="percent">@i.Skidka%</span>
                            <img src="~/Content/imageDefault.jpg" height="240px" width="110px" />
                           }
                           else
                           {
                            <span class="percent">@i.Skidka%</span>
                            <img class="img-thumbnail" style="width:110px;height:240px" src="@Url.Action("GetImage", "Home", new { i.Id })" />
                           }
                       }
                    </div>
                   <div>
                       <p>@i.Nazvanie</p>
                       <p>@i.Proizvoditel</p>
                       <p>@i.Strana</p>
                       @if (i.Skidka == null || i.Skidka == 0)
                       {
                           <p style="color:green; font-size:large">@i.Cena руб.</p>
                       }
                       else
                       {
                        <p style="color:black; font-size:large"><strike>@i.Cena руб.</strike></p>
                        <p style="color:green; font-size:large">@i.CenaSoSkidcoy руб.</p>
                       }                    
                   </div>                
                </div>
               
          }
    </div>
 

