@model dveri1.Models.ModelArticles
@{
    ViewBag.Title = "Список статей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent">
    <h2>Перечень статей на сайте межкомнатных дверей</h2>
    <hr />
    <div style="margin:1em;">
        @Html.ActionLink("Добавить", "CreateArticleMk", "Articles", new { @class = "tablebut", style = "width:240px" })
        @Html.ActionLink("Статьи сайта входных дверей", "AdminGetArticles", "Articles", new { @class = "tablebut", style = "width:250px" })
    </div>
    @if (Model.ArticlesListMk.Count() == 0)
    {
        <div style="text-align:center">
            <h3 style="font-size:large">У вас на сайте еще нет ни одной статьи! Добавьте пожалуйста статью!</h3>
        </div>
    }
    else
    {
        <table class="table_dark" style="font-size:0.7em;width:980px;">
            <tr>
                <th class="tac">Номер</th>
                <th class="tac">Дата</th>
                <th>Название</th>
                <th>Описание</th>
                <th></th>
            </tr>
            @foreach (var i in Model.ArticlesListMk)
            {
                <tr>
                    <td class="tac">@Html.ActionLink(i.ID.ToString(), "CreateArticleMk", "Articles", new { id = i.ID }, null)</td>
                    <td class="tac">@i.Date</td>
                    <td>@i.Name</td>
                    <td>@i.Headings</td>
                    <td>
                        @Html.ActionLink("Удалить", "DellArticleMk", "Articles", new { id = i.ID }, new { @class = "tablebut", style = "width:100px;margin-bottom:5px;" })
                    @Html.ActionLink("Мета тэги", "CreateSeoArticleMk", "Articles", new { id = i.ID }, new { @class = "tablebut", style = "width:100px" })
                </td>
            </tr>
            }
        </table>
    }
    <hr />
</div>

<script>
    $(".admmen").removeClass("actadmin")
    $(".m8").addClass("actadmin")
</script>
