@model dveri1.Models.ModelSeoArticle
@{
    ViewBag.Title = "Добавление информации метатегов для статьи";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left:245px;">
    <div style="text-align:center">
        <h3>Добавьте(измените) информацию метатегов для улучшения seo.</h3>
    </div>
    <div>
  
        @using (Html.BeginForm("CreateSeoArticle", "Articles",FormMethod.Post))
        {
            @Html.HiddenFor(m => m.IDart)
            <div class="mb20 mt20">
                <div>
                    <label>Введите title:</label>
                    @Html.ValidationMessageFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", style="width:990px" })
                    <label>Введите keywords:</label>
                    @Html.TextAreaFor(m => m.Key, new { @class = "form-control", rows = 4, style = "width:990px" })
                   <label>Введите основной текст статьи(также можете добавлять ссылки, изображения и видео):</label>
                    @Html.TextAreaFor(m => m.Desc, new { @class = "form-control", rows = 4, style = "width:990px" })
                </div>

            </div>

                <input type="submit" value="Сохранить" class="showadd mb30" />
                @Html.ActionLink("Отмена", "AdminGetArticles", "Articles")
        }
    </div>
</div>