@model dveri1.Models.ModelArticleCreate
@{
    ViewBag.Title = "Создание статьи";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <script src="~/Content/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Content/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "specific_textareas",
            editor_selector: "areasarticl",
            theme: "modern",
            plugins: "image, imagetools ,media ,contextmenu,link,textcolor"
        });
    </script>
    <div style="margin-left:245px;">
        <div style="text-align:center">
            <h2>Создание статьи для сайта входных дверей</h2>
        </div>
        <div style="text-align:center">
            <h3>Добавьте название, краткое описание и текст статьи.</h3>
        </div>
        <div>
            @using (Html.BeginForm("CreateArticle","Articles",FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(m=>m.ArticleID)           
                <div class="mb20 mt20">
                    <div style="text-align:center">
                        <label>Введите название статьи:</label>
                        @Html.ValidationMessageFor(m => m.ArticleName)
                        @Html.TextAreaFor(m => m.ArticleName, new { @class = "form-control", rows = 3, style = "width:990px;" })
                        <label>Введите краткое описание статьи:</label>
                        @Html.ValidationMessageFor(m => m.ArticleDescript)
                        @Html.TextAreaFor(m => m.ArticleDescript, new { @class = "form-control", rows = 6, style = "width:990px;" })
                    </div>
                    <div class="tac mr10 mt10">
                        <label>Введите основной текст статьи(также можете добавлять ссылки, изображения и видео):</label>
                        @Html.ValidationMessageFor(m => m.ArticleText)
                        @Html.TextAreaFor(m => m.ArticleText, new { @class = "areasarticl", rows = 35 })
                    </div>
                   
                </div>

                <input type="submit" value="Сохранить" class="showadd mb30" />
                @Html.ActionLink("Отмена","AdminGetArticles","Articles")
            }
        </div>
    </div>
    <script>
        $(".admmen").removeClass("actadmin")
        $(".m8").addClass("actadmin")
    </script>
