@model  dveri1.Models.ModelBreadCrumbs
    @{
        Layout = null;
}
<div class="breadcrumbs">
    <hr style="float: left;height: 3px; width: 100%;">
   <span style="color:	#2F4F4F; float:left;font-size:large;margin-bottom:4px;margin-right:20px;margin-left:20px;">Вы здесь:</span>
  
       
                     @Html.ActionLink("Главная", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "homebreadcrumbs" })
      
        @if (Model.NamePartSite != null)
        {

            if (Model.NamePartSite == "Доставка")
            {
                  @Html.ActionLink("Доставка и оплата", "DostavkaOpIndex", "DostavkaOplata")
            }
            if (Model.NamePartSite == "Отзывы")
            {
                 @Html.ActionLink("Отзывы", "OtzyvyIndex", "Otzyvy")
            }
            if (Model.NamePartSite == "Контакты")
            {
                 @Html.ActionLink("Контакты", "ContactPage", "Contact")
            }
            if (Model.NamePartSite == "Фурнитура")
            {
                 @Html.ActionLink("Фурнитура", "FurnitureIndex", "Furniture")
            }
            if (Model.NamePartSite == "Межкомнатные двери")
            {
                 @Html.ActionLink("Межкомнатные двери", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri")
            }
            if (Model.NamePartSite == "Входные двери")
            {
                 @Html.ActionLink("Входные двери", "VhodnyeDveriIndex", "VhodnyeDveri")
            }
        }
        @if (Model.NameCategory != null)
        {

             @Html.ActionLink(Model.NameCategory, "VhodnyeDveriIndex", "VhodnyeDveri", new { brand = Model.NameCategory }, null)
            if (Model.NameProduct != null)
            {
                <a>@Model.NameProduct</a>
            }
        }

    <hr style="float: left;height: 3px; width: 100%;">
</div>
