@model dveri1.Models.KartochkaTovaraModel
<script src="~/Scripts/modalwindowforharacteristicview.js"></script>
<div>
    <div>
        <span class="pr">Код товара:</span>
        <span class="valtov">@Model.Tovar.Id</span>
    </div>
    @*<br />*@
    @if (Model.Tovar.Skidka == null || Model.Tovar.Skidka == 0)
    {
        <div>
            @if (Model.Tovar.Cena == 0 || Model.Tovar.Cena == null)
            {
                <span class="valpr" style="color:red; font-size:x-large; font-weight:800;"> Цену уточняйте у менеджера.</span>
            }
            else
            {
                <span class="pr">Цена:</span>
                <span class="valpr" style="color:red; font-size:x-large; font-weight:800;"> @Model.Tovar.Cena руб.</span><span style="color:gray"> /шт </span>
            }          
        </div>
    }
    else
    {
        <div>
            <span class="pr">Цена: </span>
            <span class="valpr" style="color:black; font-size:medium"><strike> @Model.Tovar.Cena руб.</strike></span><span style="color:gray"> /шт </span>
        </div>
        <div>
            <span  class="pr">Цена со скидкой: </span>
            <span  class="valpr" style="color:red; font-size:x-large; font-weight:800;">@Model.Tovar.CenaSoSkidcoy руб.</span><span style="color:gray"> /шт </span>
            <span style="color:white;background-color:orangered"> @Model.Tovar.Skidka% off </span>
        </div>
    }
    <div class="boxbutton">
        @Html.ActionLink("Купить", "BuyDveri", "VhodnyeDveri",new {id = Model.Tovar.Id, type="входные двери"} ,new { @class = "butbyu" })
        @Html.ActionLink("Быстрая покупка", "FastBuyDveri", "VhodnyeDveri", new { id = Model.Tovar.Id, type = "входные двери" }, new { @class = "butcall" })
    </div>
   

</div>
<div>
    <div id="raz">
        <div id="tab1">
            <span>Характеристики</span>
            @Html.Partial("OpisanieTov")
        </div>
        <div id="tab2"><span>Доставка</span>
            <div class="dostavka">
                @Html.Raw(Model.InfoDostavka)
            </div>
        </div>
        <div id="tab3"><span>Оплата</span>
            <div class="oplata">
                 @Html.Raw(Model.InfoOplata)
            </div>
        </div>
        <div id="tab4">
            <span>Отзывы (всего: @Model.CommentVhDvList.Count())</span>
            <div class="oplata">
                @*Вставим partialview))*@
                @Html.Partial("CommentForDveriView")
            </div>
        </div>
        
    </div>
</div>
@*делаем модальное окно для оформления товара*@
<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
     @Html.Action("BuyDveriModal", new { id = Model.Tovar.Id, type="входные двери"})
</div>
<div id="modal_form_fastbuy">
       <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
     @Html.Action("FastBuyDveriModal", new { id = Model.Tovar.Id, type = "входные двери" })
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

