@model dveri1.Models.KartochkaTovaraModel
<div class="charakteritics">
    <div class="labelchar">
        <span>Характеристики</span>
    </div> 
    @if (Model.Tovar.Proizvoditel == "" || Model.Tovar.Proizvoditel == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Фирма производитель:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Proizvoditel</span>
            </div>          
        </div>
    }
    @if (Model.Tovar.Strana == "" || Model.Tovar.Strana == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Страна производитель:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Strana</span>
            </div>
        </div>
    }
    @if (Model.Tovar.IdColor == null)
    {

    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Цвет двери:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.TableColor.NameColor.ToString() </span>
            </div>
        </div>
    }
    @if (Model.Tovar.Napolnitel == "" || Model.Tovar.Napolnitel == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Наполнитель:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Napolnitel</span>
            </div>
        </div>
    }
    @if (Model.Tovar.Yplotnitel == "" || Model.Tovar.Yplotnitel == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Уплотнитель:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Yplotnitel</span>
            </div>
        </div>
    }
    @if (Model.Tovar.TolschinaMetalla == 0 || Model.Tovar.TolschinaMetalla == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Толщина металла:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.TolschinaMetalla мм.</span>
            </div>
        </div>
    }
    @if (Model.Tovar.Furnitura == "" || Model.Tovar.Furnitura == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Фурнитура:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Furnitura</span>
            </div>
        </div>
    }
    @if (Model.Tovar.Petli == "" || Model.Tovar.Petli == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Петли:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.Petli</span>
            </div>
        </div>
    }
    @if (Model.Tovar.OtdelkaVnutri == "" || Model.Tovar.OtdelkaVnutri == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Отделка внутри:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.OtdelkaVnutri</span>
            </div>
        </div>
    }
    @if (Model.Tovar.OtdelkaSnarugi == "" || Model.Tovar.OtdelkaSnarugi == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Отделка снаружи:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.OtdelkaSnarugi</span>
            </div>
        </div>
    }
    @if (Model.Tovar.TolschinaDvPolotna == 0 || Model.Tovar.TolschinaDvPolotna == null)
    {
    }
    else
    {
        <div class="blhar">
            <div class="namechart">
                <span class="pr">Толщина дверного полотна:</span>
            </div>
            <div class="itemchart">
                <span class="valtov"> @Model.Tovar.TolschinaDvPolotna мм.</span>
            </div>
        </div>
    }

    @if (Model.Tovar.DopCharacteristics == null || Model.Tovar.DopCharacteristics == "")
    {

    }
    else
    {
        <div class="dopchar">
            <div class="labelchar">
                <span>Дополнительные характеристики:</span>
            </div>
           
            @Html.Raw(Model.Tovar.DopCharacteristics)
        </div>
    }
    </div>  