@using dveri1.HtmlHelpers;
@model dveri1.Models.ForMainModel
    <div class="allspisok">
      <div style="text-align:center;font-size:0.8em;">
                <h1>@Model.SeoHead</h1>
         </div> 
        @foreach (var i in Model.ListVhodnDv)
        {
            <div class="shortproduct">
                <a href="/VhodnyeDveri/TovarPage?id=@i.Id">
                    <div class="imageshort">
                        @if (i.Skidka == null || i.Skidka == 0)
                        {
                            if (i.FotoVhodnyhDvereys.FirstOrDefault() == null)
                            {
                                <img class="img-thumbnail" src="~/Content/imageDefault.jpg" alt="фото @i.Nazvanie отсутствует" title="фото @i.Nazvanie отсутствует" />
                            }
                            else
                            {
                                <img class="img-thumbnail" src="@Url.Action("GetImage", "VhodnyeDveri", new { i.Id })"  alt="фото @i.Nazvanie" title="фото @i.Nazvanie" />
                            }
                        }
                        else
                        {
                            if (i.FotoVhodnyhDvereys.FirstOrDefault() == null)
                            {
                                <div class="blockpercent">
                                    <span class="percent">@i.Skidka%</span>
                                </div>
                                    <img class="img-thumbnail" src="~/Content/imageDefault.jpg"  alt="фото @i.Nazvanie отсутствует" title="фото @i.Nazvanie отсутствует"/>
                                    }
                                    else
                                    {
                                <div class="blockpercent">
                                      <span class="percent">@i.Skidka%</span>
                                 </div>
                                    <img class="img-thumbnail" src="@Url.Action("GetImage", "VhodnyeDveri", new { i.Id })"  alt="фото @i.Nazvanie" title="фото @i.Nazvanie"/>
                                    }
                                    }
                                </div>
                    <div>
                        <p>@i.Nazvanie</p>
                        <p>@i.Proizvoditel</p>
                        <p>@i.Strana</p>
                        @if (i.Skidka == null || i.Skidka == 0)
                        {
                            if (i.Cena == 0 || i.Cena == null)
                            {
                                <p style="color:green; font-size:medium">Цену уточняйте у менеджера.</p>
                            }
                            else
                            {
                                <p style="color:green; font-size:large">@i.Cena руб.</p>
                            }

                        }
                        else
                        {
                            <p style="color:black; font-size:large"><strike>@i.Cena руб.</strike></p>
                            <p style="color:green; font-size:large">@i.CenaSoSkidcoy руб.</p>
                        }
                    </div>
                </a>
            </div>

        }
    </div>
 <div style="clear:both">

</div>

