@model dveri1.Models.KartochkaTovaraModel
    @{      
        ViewBag.Title =Model.TitleD;
        ViewBag.Keywords = Model.KeyD;
        ViewBag.Description = Model.DescrD;
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery.imageLens.js")
<div class="cartochkatovara">
    <div class="hei40">
        @Html.Action("BreadCrumbs", "VhodnyeDveri", new {kmod=Model,namepart = "Входные двери" })
    </div>
     <div class="ferstsect">    
        <div class="sectionfoto"> 
            @if (Model.Tovar.Skidka == null || Model.Tovar.Skidka == 0)
            {

            }
            else
            {
                <div class="BigPersent">
                    Скидка @Model.Tovar.Skidka%
                </div>
            }
           @if (Model.FotoTovara.Count() == 0)
            {
                <img class='MainFotoDef mt30' src="~/Content/imageDefault.jpg" alt="фото @Model.Tovar.Nazvanie отсутствует" title="фото @Model.Tovar.Nazvanie отсутствует" />
            }
            else
            {
                <div id="sliderVert">
                    <ul class="sliderVertUl">
                        @foreach (var i in Model.FotoTovara)
                        {
                            <li>@Html.Raw("<img class='spisFoto' alt= \"фото " + Model.Tovar.Nazvanie + "\" title=\"фото " + Model.Tovar.Nazvanie + "\" id=" + i.Idfoto + " src=\"data:image/jpeg;base64," + Convert.ToBase64String(i.Imaging) + "\"/>") </li>
                        }                  
                    </ul>
                </div>
            <div class="sliderMainFoto">   
                 @Html.Raw("<img class='MainFoto lp'  alt= \"фото " + Model.Tovar.Nazvanie + "\" title=\"фото " + Model.Tovar.Nazvanie + "\" id=" + Model.FotoTovara.ElementAt(0).Idfoto + " src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.FotoTovara.ElementAt(0).Imaging) + "\" />")
             </div>
           
           }
</div>
<div class="sectionhartk">                
          <div class="ml40 mt30">
    <h1 class="nametovar">@Model.Tovar.Nazvanie</h1>  
    <div class="mt20">
        <span class="pr valtov">Артикул:</span>
        <span class="valtov">@Model.Tovar.Id</span>
    </div>
  
    @if (Model.Tovar.Skidka == null || Model.Tovar.Skidka == 0)
    {
        <div>
            @if (Model.Tovar.Cena == 0 || Model.Tovar.Cena == null)
            {
                <span class="valpr redCena" > Цену уточняйте у менеджера.</span>
            }
            else
            {
                <span class="pr valtov">Цена:</span>
                <span class="valpr redCena"> @Model.Tovar.Cena.Value.ToString("C")</span><span class="grayFont"> /шт </span>
            }
        </div>
    }
    else
    {
        <div>
            <span class="pr valtov">Цена: </span>
            <span class="valpr CenaBlackL"><strike> @Model.Tovar.Cena.Value.ToString("C")</strike></span><span class="grayFont"> /шт </span>
        </div>
        <div>
            <span class="pr valtov">Цена со скидкой: </span>
            <span class="valpr redCena">@Model.Tovar.CenaSoSkidcoy.Value.ToString("C")</span><span class="grayFont"> /шт </span>
            <span class="skidkaOrange"> @Model.Tovar.Skidka% off </span>
        </div>
    }
           
                <div class="hex hex-3">
                    <div class="inner">
                       
                    </div>
                    <a class="butbyu2" href="/vhodnyedveri/buydveri/?id=@Model.Tovar.Id&type=входные двери"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    <div class="corner-1"></div>
                    <div class="corner-2"></div>
                </div>
              <div class="divbutbuy">
                  <a class="butbyu2" href="/vhodnyedveri/buydveri/?id=@Model.Tovar.Id&type=входные двери"><span class="ml20">Купить</span> </a>
              </div>
                

</div>

        </div>
    </div>

<div class="secondsect">
    @Html.Partial("OpisanieTov")
    <div class="blocktabov">
        @Html.Partial("HarakteristikaTovara")
    </div>



    @if (Model.Tovar.Opisanie == "" || Model.Tovar.Opisanie == null)
    {
    }
    else
    {
    <div class="sectionabout mt10">
        <span class="OpisDoor">Описание входных дверей:</span>
          <div class="opisanie">
             @Html.Raw(Model.Tovar.Opisanie)
        </div>
    </div>
    }
    <div class="sectiondop">
        @Html.Action("SimilarGoods")
    </div>
</div>
   
</div>

 
<script type="text/javascript">
    $(document).ready(function () {
        //обработка фото по которому кликнули
      $('.spisFoto').click(function () {       
          var id = $(this).attr('id');
          //загрузка частичного представления с фото
          $('.sliderMainFoto').load("/VhodnyeDveri/ImgTov/"+id)
      });
        //лупа
      $('.lp').imageLens({ lensSize: 200, borderSize: 1 });
});
</script>

 

