@model dveri2.Models.ForMainModel
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.Keywords = Model.SeoKey;
    ViewBag.Description = Model.SeoDesc;
}

<link href="~/Content/nivo-slider.css" rel="stylesheet" />

<div class="leftMainMenu fll">
    <div class="dvSortCost">
        Cортировать по цене:
    </div>
    <div class="buttonsort">
        @switch (Model.Sort)
            {
                case 0:
                    {
                    @Html.ActionLink("по возрастанию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 1, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "upsort" })
                    @Html.ActionLink("по убыванию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 2, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "downsort" })
                    break;
                }
            case 1:
                {
                    @Html.ActionLink("по возрастанию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 1, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "upsort actsortup" })
                    @Html.ActionLink("по убыванию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 2, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "downsort" })
                    break;
                }
            case 2:
                {
                    @Html.ActionLink("по возрастанию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 1, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "upsort" })
                    @Html.ActionLink("по убыванию", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 2, brand = Model.CurrentBrand, flagMaterial = Model.FlagMaterial }, new { @class = "downsort actsortdown" })
                    break;
                }

            default:
                break;

        }
    </div>
    @*меню выбора брэнда*@
    <div class="MenKataltext">
        Каталог товаров:
    </div>
    <div>
        @Html.ActionLink("МЕЖКОМНАТНЫЕ ДВЕРИ ВЕСЬ КАТАЛОГ", "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { sort = 0, brand = "весьтовар", id = 1, flagMaterial = false }, new { @class = "leftMenuButton весьтовар" })
        @foreach (var i in Model.Brand)
            {
                if (i != null)
                {
                @Html.ActionLink("Межкомнатные двери " + i, "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 0, brand = i, flagMaterial = false }, new { @class = "leftMenuButton " + i.Replace(" ", string.Empty) })
            }
        }
    </div>
    @*меню выбора материала дверей*@
    <div>
        <div class="MenMaterialTextKat">
            Межкомнатные двери:
        </div>
        @foreach (var i in Model.Material)
            {
                if (i != null)
                {
                @Html.ActionLink(i, "MegkomnatnyeDveriIndex", "MegkomnatnyeDveri", new { id = 1, sort = 0, brand = i, flagMaterial = true }, new { @class = "leftMenuButton " + i.Replace(" ", string.Empty) })
            }
        }
    </div>

    @*статьи 5 последних с сылками на их же*@
    <div>
        @Html.Action("GetFiveArticles", "Articles")
    </div>

</div>

<div class="MainSlider">
        <div id="slider" class="nivoSlider">
            @foreach (var item in Model.SliderImgMk)
            {
                @Html.Raw("<img alt='' title='' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Imaging) + "\" />")
            }
        </div>
</div>

<div class="MainBredcrumbs">
    @Html.Action("BreadCrumbs", "MegkomnatnyeDveri", new { mainmodel = Model, namepart = "Межкомнатные двери" })
</div>
   


<div class="productlist" id="listproduct">
    @Html.Partial("ProductList")
</div>
<div style="clear:both">

</div>
@*появляется при догрузке страницы*@
<div id="loading" class="idloading">
    <img src="~/Content/loading.gif" alt="" class="doLoadingImg" />
</div>
@*разбиение на страничный режим*@
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("MegkomnatnyeDveriIndex", new { id = x, sort = Model.Sort, brand = Model.CurrentBrand,flagMaterial = Model.FlagMaterial, PageSize = Model.PagingInfo.ItemsPerPage }))
</div>

@section Scripts {
  @Scripts.Render("~/Scripts/jquery.nivo.slider.pack.js")

<!-- Запуск слайдера -->

        <script type="text/javascript">
                    $(window).load(function () {
                        $('#slider').nivoSlider({
                            effect: 'sliceUpLeft',
                            animSpeed: 1500,
                            pauseTime: 7000,
                            directionNav: true,
                            directionNavHide: true,
                            controlNav: true,
                            pauseOnHover: true,
                            keyboardNav: true,
                            controlNavThumbs: false                      
                        });
                    });
</script>


    
    @*замена pagingLinks на кнопку показать еще*@
    <script type="text/javascript">
        $(document).ready(function () {

            //выделение текущего брэнда(.Replace(" ", string.Empty)-метод замены пробелов)
            $('.@Model.CurrentBrand.Replace(" ", string.Empty)').addClass("act");


        });

        @*$('.pager').replaceWith($('<div class="addpage" style="text-align:center;margin-bottom:1em"><button class="showadd" value="@Model.PagingInfo.TotalPages">  Показать еще  </button>' +
           '</div>  '));
        var page = 1;*@



            @*$('.showadd').click(
        function loadItems() {
               var totalpages = $(".showadd").val();

               var temp = "?sort=";
               var temp2 = "&brand=";
               if (page > 0 && page<totalpages) {
                   page++;
                 //анимация загрузки
                $('#loading').css("visibility","visible")
                $.ajax({
                    type: 'GET',
                    url: '/VhodnyeDveri/VhodnyeDveriIndex/' + page + temp + @Model.Sort + temp2 +'@Model.CurrentBrand',

                       success: function (data) {
                           if (data != '') {
                            $("#listproduct").append(data);//добавляет данные к низуЫ
                           }
                        else {
                            page = 1;
                        }
                       $('#loading').css("visibility","hidden")
                    }
                });
             }
             if(page==totalpages)
             {
                 $('.addpage').replaceWith($('<div class="emtypage"> </div>  '));
             }
        }  )*@
</script>

   }