
@model dveri2.Models.KaruselTovara
@{
    Layout = null;
}

<link href="~/Content/KaruselTovara/ForKaruselOfGoods.css" rel="stylesheet" />

<div class="SimGoods">
    <div id="sliderKar">
        <div class="headKarus">
            <h4>Двери, которые могут Вам понравиться:</h4>
        </div>
        <input type=radio name=slider id=slide1 checked="checked" />
        <input type=radio name=slider id=slide2 />
        <input type=radio name=slider id=slide3 />

        <div id=slides>

            <div id=overflow>

                <div class=inner>
                    @*это первый слайд*@
                    <div class="articleslider">
                        @for (int i = 0; i < 8; i++)
                        {
                            <div class="shortproduct-small fll">
                                <a href="@Url.Action("TovarPage","MegkomnatnyeDveri", new { tov = Model.ListMkDv.ElementAt(i).Nazvanie , id = Model.ListMkDv.ElementAt(i).Id, flag=false })">

                                        <div class="imageshort">
                                            @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                            {
                                                if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                                {
                                                    <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                                }
                                                else
                                                {
                                                    <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                                }
                                            }
                                            else
                                            {
                                                if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                                {
                                                    <div class="blockpercent-small">
                                                        <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                    </div>
                                                    <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                                }
                                                else
                                                {
                                                    <div class="blockpercent-small">
                                                        <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                    </div>
                                                    <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                                }
                                            }
                                        </div>
                                        <div class="shortChar">
                                            <br clear="all" />
                                            <div style="clear:both">

                                            </div>
                                            <p>@Model.ListMkDv.ElementAt(i).Nazvanie</p>
                                            @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                            {
                                                if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                                {
                                                    <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                                }
                                                else
                                                {
                                                    <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</p>
                                                }

                                            }
                                            else
                                            {
                                                if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                                {
                                                    <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                                }
                                                else
                                                {
                                                    <p class="CenaBlack"><strike>@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</strike></p>
                                                    <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).CenaSoSkidkoy.Value.ToString("C")</p>
                                                }
                                            }
                                        </div>
                                    </a>
</div>
                        }

                    </div>

                    @*второй слайд*@
                    <div class="articleslider">

                        @for (int i = 8; i < 16; i++)
                        {
                            <div class="shortproduct-small fll">
                          
                                    <a href="@Url.Action("TovarPage","MegkomnatnyeDveri", new { tov = Model.ListMkDv.ElementAt(i).Nazvanie , id = Model.ListMkDv.ElementAt(i).Id, flag=false })">
                                        <div class="imageshort">
                                            @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                            {
                                                if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                                {
                                                    <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                                }
                                                else
                                                {
                                                    <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                                }
                                            }
                                            else
                                            {
                                                if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                                {
                                                    <div class="blockpercent-small">
                                                        <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                    </div>
                                                    <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                                }
                                                else
                                                {
                                                    <div class="blockpercent-small">
                                                        <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                    </div>
                                                    <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                                }
                                            }
                                        </div>
                                        <div class="shortChar">
                                            <br clear="all" />
                                            <div style="clear:both">

                                            </div>
                                            <p>@Model.ListMkDv.ElementAt(i).Nazvanie</p>
                                            @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                            {
                                                if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                                {
                                                    <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                                }
                                                else
                                                {
                                                    <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</p>
                                                }

                                            }
                                            else
                                            {
                                                if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                                {
                                                    <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                                }
                                                else
                                                {
                                                    <p class="CenaBlack"><strike>@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</strike></p>
                                                    <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).CenaSoSkidkoy.Value.ToString("C")</p>
                                                }
                                            }
                                        </div>
                                    </a>
                            </div>
                        }

                    </div>
                    @*и третий слайд*@
                    <div class="articleslider">

                        @for (int i = 16; i < 24; i++)
                        {
                            <div class="shortproduct-small fll">
                                <a href="@Url.Action("TovarPage","MegkomnatnyeDveri", new { tov = Model.ListMkDv.ElementAt(i).Nazvanie , id = Model.ListMkDv.ElementAt(i).Id, flag=false })">
                                    <div class="imageshort">
                                        @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                        {
                                            if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                            {
                                                <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                            }
                                            else
                                            {
                                                <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                            }
                                        }
                                        else
                                        {
                                            if (Model.ListMkDv.ElementAt(i).FotoMegkomnDvereys.FirstOrDefault() == null)
                                            {
                                                <div class="blockpercent-small">
                                                    <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                </div>
                                                <img class="img-thumbnail-small" src="~/Content/imageDefault.jpg" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie отсутствует" />
                                            }
                                            else
                                            {
                                                <div class="blockpercent-small">
                                                    <span class="percent-small">@Model.ListMkDv.ElementAt(i).Skidka%</span>
                                                </div>
                                                <img class="img-thumbnail-small" src="@Url.Action("GetImage", "MegkomnatnyeDveri", new { Model.ListMkDv.ElementAt(i).Id })" alt="фото @Model.ListMkDv.ElementAt(i).Nazvanie" title="фото @Model.ListMkDv.ElementAt(i).Nazvanie" />
                                            }
                                        }
                                    </div>
                                    <div class="shortChar">
                                        <br clear="all" />
                                        <div style="clear:both">

                                        </div>
                                        <p>@Model.ListMkDv.ElementAt(i).Nazvanie</p>
                                        @if (Model.ListMkDv.ElementAt(i).Skidka == null || Model.ListMkDv.ElementAt(i).Skidka == 0)
                                        {
                                            if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                            {
                                                <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                            }
                                            else
                                            {
                                                <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</p>
                                            }

                                        }
                                        else
                                        {
                                            if (Model.ListMkDv.ElementAt(i).Cena == 0 || Model.ListMkDv.ElementAt(i).Cena == null)
                                            {
                                                <p class="CenaGreen">Цену уточняйте у менеджера.</p>
                                            }
                                            else
                                            {
                                                <p class="CenaBlack"><strike>@Model.ListMkDv.ElementAt(i).Cena.Value.ToString("C")</strike></p>
                                                <p class="CenaGreen">@Model.ListMkDv.ElementAt(i).CenaSoSkidkoy.Value.ToString("C")</p>
                                            }
                                        }
                                    </div>
                                </a>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>

        <div id=controls>
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
        </div> <!-- #controls -->

    </div>
</div>
<div style="clear:both">

</div>


