@model dveri2.Models.KartochkaTovaraModel
@{
    ViewBag.Title = Model.TitleD;
    ViewBag.Keywords = Model.KeyD;
    ViewBag.Description = Model.DescrD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery.imageLens.js")
<div class="cartochkatovara">
    <div class="hei40">
        @Html.Action("BreadCrumbs", "MegkomnatnyeDveri", new { kmod = Model, namepart = "Межкомнатные двери" })
    </div>
    <div class="ferstsect">
        <div class="sectionfoto">
            @if (Model.Tovar.Skidka == null || Model.Tovar.Skidka == 0)
            {

            }
            else
            {
                <div class="BigPersent">
                    Скидка @Model.Tovar.Skidka%
                </div>
            }
            @if (Model.FotoTovara.Count() == 0)
            {
                <img class='MainFotoDef mt30' src="~/Content/imageDefault.jpg" alt="фото @Model.Tovar.Nazvanie отсутствует" title="фото @Model.Tovar.Nazvanie отсутствует" />
            }
            else
            {
                <div id="sliderVert">
                    <ul class="sliderVertUl">
                        @foreach (var i in Model.FotoTovara)
                        {
                            <li>@Html.Raw("<img class='spisFoto' alt= \"фото " + Model.Tovar.Nazvanie + "\" title=\"фото " + Model.Tovar.Nazvanie + "\" id=" + i.IdFoto + " src=\"data:image/jpeg;base64," + Convert.ToBase64String(i.Imaging) + "\"/>") </li>
                        }
                    </ul>
                </div>
                <div class="sliderMainFoto">
                    @Html.Raw("<img class='MainFoto lp'  alt= \"фото " + Model.Tovar.Nazvanie + "\" title=\"фото " + Model.Tovar.Nazvanie + "\" id=" + Model.FotoTovara.ElementAt(0).IdFoto + " src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.FotoTovara.ElementAt(0).Imaging) + "\" />")
                </div>

            }
        </div>
        <div class="sectionhartk">
            <h1 class="nametovar">@Model.Tovar.Nazvanie</h1>
            <hr class="razdTov">
            <div class="blocktabov">
                @Html.Partial("HarakteristikaTovara")
            </div>

        </div>


    </div>

    <div class="secondsect">
        @if (Model.Tovar.Opisanie == "" || Model.Tovar.Opisanie == null)
        {
        }
        else
        {
            <div class="sectionabout mt10">
                <span class="OpisDoor">Описание входных дверей:</span>
              <div class="opisanie">
                    @Html.Raw(Model.Tovar.Opisanie)
                </div>
            </div>
        }
        <div class="sectiondop">
            @Html.Action("SimilarGoods")
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        //обработка фото по которому кликнули
      $('.spisFoto').click(function () {
          var id = $(this).attr('id');
          //загрузка частичного представления с фото
            $('.sliderMainFoto').load("/MegkomnatnyeDveri/ImgTov/" + id)
       });
});
</script>

<script type="text/javascript">

    //лупа
        $('.lp').imageLens({ lensSize: 200, borderSize: 1 });
</script>

