@model dveri2.Models.ModelBuyDveri

<div id="idbuy" style="text-align:center;">
    <h3>Заказ на товар: @Model.DvName</h3>
    <h4>Оставьте свои данные, и мы свяжемся с Вами в течении 15 минут.</h4>
    <div class="form-group">
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.IdDveri)
        @Html.HiddenFor(m => m.DvName)
        <label>Имя*</label>
        @Html.ValidationMessageFor(m => m.KlientName)
        @Html.TextBoxFor(m => m.KlientName, null, new { @class = "form-control ma" })
        <label>Номер телефона или e-mail адрес для связи*</label>
        @Html.ValidationMessageFor(m => m.KlientPhone)
        @Html.TextBoxFor(m => m.KlientPhone, null, new { @class = "form-control ma" })
        <label>Адрес</label>
        @Html.TextBoxFor(m => m.KlientAdres, null, new { @class = "form-control ma" })
        <label>Задайте интересующий Вас вопрос, или напишите любое сообщение нашему менеджеру:</label>
        @Html.TextAreaFor(m => m.KlientQuestion, new { @class = "form-control ma", rows = 5, style="width:450px" })
    </div>
    <strong style="font-size:small">* - поле обязательно для заполнения!</strong><br />
    <input type="submit" value="Отправить" class="butbyu ma" />
    @Html.ActionLink("Отменить", "TovarPage", "MegkomnatnyeDveri", new { id = Model.IdDveri }, new { @class = "butcancel" })
</div>
