@model dveri1.Models.ModelComment
    @using DALdv1;
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.Keywords = Model.SeoKey;
    ViewBag.Description = Model.SeoDesc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="breadcrumbsonpage">
        @Html.Action("BreadCrumbs", "VhodnyeDveri", new { namepart = "Отзывы" })
    </div>
    <div class="head">
        <h1>@Model.SeoHead</h1>
    </div>
    <div>
        @Html.ActionLink("Добавить отзыв", "CreateComment", "Comment", null, new { @class = "showadd" })
    </div>
   <div class="commentmain">
       @if (Model.CommentCompList.Count() > 0)
       {
           foreach (CommentCompany i in Model.CommentCompList)
           {
            <div class="fll">
                <div class="fll">
                    <img src="~/Content/ImgComment/user.png" />
                </div>
                <div>
                    @i.Name
                </div>
                <div>
                    @i.Date
                </div>
            </div>
            <div class="fll">
                <div class="fll">
                    @i.Heading
                </div>
                <div class="fll">
                    @i.Stars
                </div>
                <div class="fll">
                    @i.Comment
                </div>
                @if (i.Response != null)
                {
                <div class="fll">
                    @i.Response
                </div>
                }
            </div>
           
           }
       }
       else
       {
           <div style="text-align:center">
              <h3>Еще никто не оставил свой отзыв!</h3> 
           </div>
       }
   </div>
    <div>
        @Html.ActionLink("Добавить отзыв", "CreateComment", "Comment", null, new { @class = "showadd" })
    </div>
   
</div>
<script>
    $(".mainmen").removeClass("current")
    $(".m6").addClass("current")
</script>
