@model dveri1.Models.CreateVhMod

@{
    ViewBag.Title = "Добавление входных дверей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="tablecontent" style="text-align:center;color:black;">
<h4>
    Добавить товар "Входные двери"
</h4>
    <hr />
    @using (Html.BeginForm("CreateVhDv","Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="fieldset">
            @Html.HiddenFor(m => m.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName == "ID" || property.PropertyName == "ImageData"||property.PropertyName=="ImageMimeType")
                {
                }
                else
                { 
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Opisanie")
                        {
                            @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control", rows = 5 })                           
                        }
                        else
                        {
                            if (property.PropertyName == "Publicaciya")
                            {
                                @Html.CheckBox(property.PropertyName,
                                new { @class = "form-control" })                            
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })                             
                            }

                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <div style="position:relative;">
                <label>Выберите файлы с изображениями товаров:</label><br />
                <input type="file" name="fileUpload[0]" /><br />
                <input type="file" name="fileUpload[1]" /><br />
                <input type="file" name="fileUpload[2]" /><br />
                <input type="file" name="fileUpload[3]" /><br />
                <input type="file" name="fileUpload[4]" /><br />
            </div>
      </div>



        <div style="margin-bottom:20px">
            <input type="submit" value="Сохранить" class="showadd" />
            @Html.ActionLink("Отменить", "Panel")
        </div>

    }
 
</div>
