@model dveri1.Models.ForMainModel
@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent">
    <div style="margin:1em;">
        @Html.ActionLink("Новый товар", "CreateVhDv", "Admin", new {@class= "tablebut", style="width:150px"})
    </div>
    <hr />
    <table class="table_dark">
        <tr>
            <th>Код товара</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Страна</th>
           <th>Наполнитель</th>
            <th>Уплотнитель</th>
            <th>Толщина металла</th>
            <th>Фурнитура</th>
           @*<th>Петли</th>
    <th>Отделка снаружи</th>
    <th>Отделка внутри</th>
    <th>Толщина дверного полотна</th>*@
            <th>Цена</th>
            <th>Скидка</th>
            <th>Публикация</th>
            <th></th>
        </tr>
        @foreach (var i in Model.ListVhodnDv)
        {
            <tr>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@Html.ActionLink(i.Id.ToString(),"ChangeVhDv","Admin", new {id=i.Id })</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@Html.ActionLink(i.Nazvanie, "ChangeVhDv", "Admin", new { id = i.Id })</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.Proizvoditel</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.Strana</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.Napolnitel</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.Yplotnitel</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.TolschinaMetalla</td>
                <td onclick="location.href='/Admin/ChangeVhDv?Length=@i.Id'">@i.Furnitura</td>
                @*<td>Наполнитель</td>
                <td>Уплотнитель</td>
                <td>Толщина металла</td>
                <td>Фурнитура</td>
                <td>Петли</td>
                <td>Отделка снаружи</td>
                <td>Отделка внутри</td>
                <td>Толщина дверного полотна</td>*@
                <td>@i.Cena</td>
                <td>@i.Skidka</td>
               <td> @Html.DisplayFor(modelItem=>i.Publicaciya)</td>
                <td>@Html.ActionLink("Удалить", "DellVhDv", "Admin", new { id = i.Id }, new { @class = "tablebut", style = "width:100px" })<br />@Html.ActionLink("Изменить фото", "FotoVhDv", "Admin", new {id=i.Id}, new { @class = "tablebut", style = "width:100px;margin-top:0.8em" })</td>
            </tr>
        }
    </table>

</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Panel", new { page = x, PageSize = Model.PagingInfo.ItemsPerPage }))
</div>