@model dveri1.Models.ForMainModel
@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent">
    <div style="margin:1em;">
        @Html.ActionLink("Новый товар", "CreateVhDv", "Admin", new {@class= "tablebut newdoor", style="width:150px"})
        @Html.ActionLink("Экспорт товара в Exel", "Export", "ExpImp", new {categor = ViewBag.NameProductList }, new { @class = "tablebut newdoor", style = "width:150px" })
        @Html.ActionLink("Импорт товара в базу данных", "Import", "ExpImp", new { categor = ViewBag.NameProductList }, new { @class = "tablebut newdoor", style = "width:250px" })
        </div>          
    <hr />
    <h3 class="headpanel">@ViewBag.NameProductList</h3>
    <table class="table_dark">
        <tr>
            <th>Код товара</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Страна</th>
           <th>Наполнитель</th>
            <th>Уплотнитель</th>
            <th>Толщина металла</th>
            <th>Фурнитура</th>
           @*<th>Петли</th>
    <th>Отделка снаружи</th>
    <th>Отделка внутри</th>
    <th>Толщина дверного полотна</th>*@
            <th>Цена</th>
            <th>Скидка</th>
            <th>Публикация</th>
            <th></th>
        </tr>
        @foreach (var i in Model.ListVhodnDv)
        {
            <tr>
                <td class="tac">@Html.ActionLink(i.Id.ToString(), "EditVhDv", "Admin", new {id=i.Id },null)</td>
                <td>@Html.ActionLink(i.Nazvanie, "EditVhDv", "Admin", new { id = i.Id },null)</td>
                <td>@i.Proizvoditel</td>
                <td>@i.Strana</td>
                <td>@i.Napolnitel</td>
                <td>@i.Yplotnitel</td>
                <td class="tac">@i.TolschinaMetalla</td>
                <td>@i.Furnitura</td>
                @*<td>Наполнитель</td>
                <td>Уплотнитель</td>
                <td>Толщина металла</td>
                <td>Фурнитура</td>
                <td>Петли</td>
                <td>Отделка снаружи</td>
                <td>Отделка внутри</td>
                <td>Толщина дверного полотна</td>*@
                @if (i.Cena != null)
                {
                    <td>@i.Cena.Value.ToString("C")</td>
                }
                else
                {
                    <td>Цена не установлена</td>
                }
                <td class="tac">@i.Skidka</td>
               <td class="tac"> @Html.CheckBoxFor(modelItem=>i.Publicaciya, new { @class="chpublick",id = i.Id, value = i.Id})</td>
                <td>@Html.ActionLink("Удалить", "DellVhDv", "Admin", new { id = i.Id, page = Model.PagingInfo.CurrentPage }, new { @class = "tablebut", style = "width:100px" })
                <br />
                @Html.ActionLink("Создать на основе", "CreateVhDv", "Admin", new {id=i.Id}, new { @class = "tablebut", style = "width:100px;margin-top:0.8em" })</td>
            </tr>
        }
    </table>

</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Panel", new { page = x, PageSize = Model.PagingInfo.ItemsPerPage }))
</div>
@*//скрипт для обработки чекбоксов для публикации*@
<script type="text/javascript">
    //определяем Id кликнутого элемента
    $('.chpublick').click(function () {
        var id = $(this).attr('id');
        var temp = "?list=входныедвери";
             $.ajax({//и вызываем ajax функцию
                type: 'GET',
                url: '/Admin/ChangePublic/' + id+temp,
                success: function (data) {      
                }
            });

    });
    $(".admmen").removeClass("actadmin")
    $(".m2").addClass("actadmin")
    $(".dropspis").find("ul").slideDown(400).parents("li").children("div.drop").css({ 'background-position': "0 0" });

    var id = $('.headpanel').text();
    
   // var elem = document.getElementById(id);
   //var z = $(".itemMA").attr('id')==
   // alert(z);
    if ($(".itemMA").attr('id')==id)
    {
        //alert($(".itemMA").attr('id'))
        //$(".itemMA").removeClass("actadmin")
        //$($(".itemMA").attr('id')).addClass("actadmin")
    }

</script>