@model dveri1.Models.SliderModel
@{
    ViewBag.Title = "Боковой слайдер";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="tablecontent">
    <h3>Боковой слайдер - межкомнатные двери</h3>
    <div style="margin:1em;">
        @Html.ActionLink("Слайдер - входные двери", "SliderLeft", "Admin", null, new { @class = "tablebut newdoor", style = "width:220px" })
        @Html.ActionLink("Слайдер - межкомнатные двери", "SliderLeftMk", "AdminMkDv", null, new { @class = "tablebut newdoor", style = "width:220px;background-color:#00FF7F" })
    </div>
    @using (Html.BeginForm("SliderLeftMk", "AdminMkDv", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { <div class="form-group">
        <h3> Изображения бокового слайдера (добавляйте изображения формата 200px*400px или кратные им для корректного отображения):</h3><br />
        <div style="position:relative;display:block">
            @foreach (var item in Model.SliderLImk)
            {
                <div style="margin:20px;float:left;">
                    @Html.Raw("<img style='width:200px; height:400px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Imaging) + "\" />")
                    <br />
                    @Html.ActionLink("Удалить изображение " + item.Id, "DellSlideLeftMk", "AdminMkDv", new { id = item.Id }, new { @class = "tablebut", style = "width:170px" })
                </div>
            }
            @for (int i = 0; i < 8 - Model.CountSlide; i++)
            {
                <input type="file" name="fileUpload[@i]" /><br />
            }
        </div>
    </div>
        if (Model.CountSlide < 8)
        {
            <div style="margin-bottom:20px;display:block;float:left;">
                <input type="submit" value="Сохранить" class="showadd" />
                @Html.ActionLink("Отменить", "PanelMkDv")
            </div>
        }
    }
</div>
<script>
    $(".admmen").removeClass("actadmin")
    $(".m5").addClass("actadmin")
</script>