@model dveri1.Models.SliderModel
@{
    ViewBag.Title = "Главный слайдер";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="tablecontent">
    <h3>Главный слайдер - межкомнатные двери</h3>
    <div class="marg1e">
        @Html.ActionLink("Слайдер - входные двери", "SliderMain", "Admin", null, new { @class = "tablebut newdoor wid220" })
        @Html.ActionLink("Слайдер - межкомнатные двери", "SliderMainMk", "AdminMkDv", null, new { @class = "tablebutAct newdoor wid220" })
    </div>
    @using (Html.BeginForm("SliderMainMk", "AdminMkDv", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { <div class="form-group">
        <h3> Изображения главного слайдера (добавляйте изображения формата 800px*220px или кратные им для корректного отображения):</h3><br />
        <div  class="pos-rel">
            @foreach (var item in Model.SliderMImk)
            {
                <div class="mar20">
                    @Html.Raw("<img class='slimg' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Imaging) + "\" />")
                    <br />
                    @Html.ActionLink("Удалить изображение " + item.Id, "DellSlideMk", "AdminMkDv", new { id = item.Id }, new { @class = "tablebut wid170"})
                </div>
            }
            @for (int i = 0; i < 8 - Model.CountSlide; i++)
            {
                <input type="file" name="fileUpload[@i]" /><br />
            }
        </div>
    </div>
        if (Model.CountSlide < 8)
        {
            <div class="mb20">
                <input type="submit" value="Сохранить" class="showadd" />
                @Html.ActionLink("Отменить", "PanelMkDv")
            </div>
        }
    }
</div>
<script>
    $(".admmen").removeClass("actadmin")
    $(".m4").addClass("actadmin")
</script>
