<!DOCTYPE html>
<html>
<head>
    @*входные*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
  
    <link href="~/Content/Site.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
  
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
 
    <script src="~/Scripts/modalwindowrecallme.js"></script>
    <script src="~/Scripts/modalwindowwriteus.js"></script>
     
      @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="Fon">

    </div>
    <div class="body">
           <div class="navigationfixedtop">
                <div class="content mt10">
                    <div class="brand fll">
                        <div class="fll mr10">
                            <a href="/VhodnyeDveri/VhodnyeDveriIndex"> <img src="~/Content/logo1.png" alt="" class="iLogo" /></a>
                        </div>
                        <div class="LeftHead">
                            <a href="/VhodnyeDveri/VhodnyeDveriIndex">Люксеврострой - входные двери, межкомнатные двери, фурнитура, напольные покрытия</a>
                            <br /> @Html.ActionLink("Админ", "Panel", "Admin", null, new { style = "display:block;width:100px;background-color:silver;" })
                       </div>
                    </div>
                 
                    <div class="contacts flr">
                        <div class="elContact">
                            <div class="fll mr10"><img src="~/Content/writeus.jpg" alt="" /> </div>
                            <div> @Html.ActionLink("Написать нам", "WriteToUs", "VhodnyeDveri", null, new { @class = "butwritemain" }) </div>

                        </div>
                        <div class="elContact mt10">
                            <div class="fll mr10"> <img src="~/Content/recall.jpg" alt="" />  </div>
                            <div> @Html.ActionLink("Заказать обратный звонок", "FastBuyDveri", "VhodnyeDveri", new { id = 9999, type = "входные двери" }, new { @class = "butcallmain" }) </div>
                        </div>
                    </div>

                    <div class="contacts flr">
                        <div class="elContact">
                            <div class="fll mr10"> <img src="~/Content/mts.jpg" alt="" /></div>
                            <div><span class="phoneCode">(33)</span> <span class="phoneNum">689-30-02</span> </div>
                        </div>
                        <div class="elContact mt30">
                            <div class="fll mr10"> <img src="~/Content/vel.jpg" alt="" />  </div>
                            <div><span class="phoneCode">(29)</span> <span class="phoneNum">689-30-02</span> </div>
                        </div>
                    </div>

                </div>
            
                <div class="dMenu">
                    <div id="menu">
                        <ul>
                         
                            <li>@Html.ActionLink("Входные двери", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "mainmen m2 current" })</li>
                            @*<li>@Html.ActionLink("Межкомнатные двери", "Contact", "VhodnyeDveri", null, new { @class = "mainmen m3" })</li>*@
                            <li><a href="http://52.37.80.82:703" class="mainmen m3">Межкомнатные двери</a></li>
                            <li>@Html.ActionLink("Доставка и оплата", "OplataDostavka", "VhodnyeDveri", null, new { @class = "mainmen m5" })</li>
                            <li>@Html.ActionLink("Отзывы", "GetAllComment", "Comment", null, new { @class = "mainmen m6" })</li>
                            <li>@Html.ActionLink("Контакты", "ContactPage", "Contact", null, new { @class = "mainmen m7" })</li>
                            <li>@Html.ActionLink("Установка", "YstanovkaInfo", "AboutYstanovka", null, new { @class = "mainmen m8" })</li>
                            <li>@Html.ActionLink("Статьи", "GetArticles", "Articles", null, new { @class = "mainmen m9" })</li>

                        </ul>
                    </div>
                </div>
            </div>

        <div class="content-body">
            @RenderBody()
                    
        </div>
           
        @if (TempData["messageklient"] != null)
            {
            <div class="alertmessage">@TempData["messageklient"]</div>
        }
        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", required: false)
    </div>

    <div id="modal_form_fastbuy">
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        @Html.Action("FastBuyDveriModal","VhodnyeDveri", new { id = 9999, type = "входные двери" })
    </div>

    <div id="modal_form_writeus">
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        @Html.Action("WriteToUsModal", "VhodnyeDveri")
    </div>
    <div id="overlay"></div><!-- Пoдлoжкa -->
 <footer> 
     <div class="inFooter">
        <div class="footermenudiv">
             <h4 class="tac">КАРТА САЙТА</h4>
             <ul class="footermenu fll">
                 <li>@Html.ActionLink("Входные двери", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "footermenuitem" })</li>
                 @*<li>@Html.ActionLink("Межкомнатные двери", "Contact", "VhodnyeDveri", null, new { @class = "footermenuitem" })</li>*@
                 <li><a href="http://52.37.80.82:703" class="footermenuitem">Межкомнатные двери</a></li>
                 <li>@Html.ActionLink("Доставка и оплата", "OplataDostavka", "VhodnyeDveri", null, new { @class = "footermenuitem" })</li>
                 <li>@Html.ActionLink("Отзывы", "GetAllComment", "Comment", null, new { @class = "footermenuitem" })</li>
                 <li>@Html.ActionLink("Контакты", "ContactPage", "Contact", null, new { @class = "footermenuitem" })</li>
                 <li>@Html.ActionLink("Установка", "YstanovkaInfo", "AboutYstanovka", null, new { @class = "footermenuitem" })</li>
                 <li>@Html.ActionLink("Статьи", "GetArticles", "Articles", null, new { @class = "footermenuitem" })</li>
             </ul>
         </div>
         <div class="socseti">
             <div class="headSoc">
                 <h4>ОСТАВАЙТЕСЬ С НАМИ</h4>
             </div>
           
             <div class="blSoc">
                 <div class="undBlSoc1">
                     <a class="fll Asocseti" href="https://plus.google.com/" rel="nofollow"> <img src="~/Content/ForSoc/google.png" alt="" class="iSoc" /> <div class="textSoc">Google+</div> </a>
                     <a class="fll Asocseti" href="https://www.facebook.com/" rel="nofollow"> <img src="~/Content/ForSoc/facebook.png" class="iSoc" alt=""/> <div class="textSoc">Facebook</div>  </a>
                     <a class="fll Asocseti" href="https://my.mail.ru/" rel="nofollow"> <img src="~/Content/ForSoc/mail.png" class="iSoc" alt=""/><div class="textSoc"> Mail </div></a>
                     <a class="fll Asocseti" href="https://ok.ru/" rel="nofollow"> <img src="~/Content/ForSoc/odnoklasniki.png" class="iSoc" alt="" /><div class="textSoc"> Odnoklassniki  </div> </a>
                 </div>
                 <div class="undBlSoc2">
                     @*<a class="fll" href="https://plus.google.com/" rel="nofollow"> <img src="~/Content/ForSoc/rss.png" style="width:24px;height24px" alt="" /> RSS  </a>*@
                     <a class="fll Asocseti" href="https://twitter.com/" rel="nofollow"> <img src="~/Content/ForSoc/twitter.png" class="iSoc" alt=""/> <div class="textSoc">Twitter </div>  </a>
                     <a class="fll Asocseti" href="https://new.vk.com/" rel="nofollow"> <img src="~/Content/ForSoc/vk.png" class="iSoc" alt=""/> <div class="textSoc">VK </div>  </a>
                     <a class="fll Asocseti" href="https://www.yandex.by/" rel="nofollow"> <img src="~/Content/ForSoc/yandex.png" class="iSoc" alt="" /> <div class="textSoc">Yandex  </div> </a>
                 </div>
               
             </div>

         </div>


         <div class="footcontact">
             <h4 class="hFootC">КОНТАКТЫ</h4>
             <div class="KontPageF">
                 @Html.Action("ContactOnFoter", "VhodnyeDveri", new { contact = false })
             </div>
         </div>

         <div class="yurinffooter">
             <div class="fll ml40">
                @Html.Action("YrInf", "VhodnyeDveri")
             </div>
             <p class="flr mr40">devprogram.ru</p>
         </div>
     </div>
</footer>          
</body>

</html>
