<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
  
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/orbit.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.orbit.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/modalwindowrecallme.js"></script>
     
      @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="body">
        <div>
            @Html.ActionLink("Заказать звонок", "FastBuyDveri", "VhodnyeDveri", new { id = 9999, type = "входные двери" }, new { @class = "butcallmain" })
        </div>
        <div class="navigationfixedtop">
            <div class="content mt20">
                <div class="brand fll">
                    <div class="fll mr10">
                        <a href="/VhodnyeDveri/VhodnyeDveriIndex"> <img src="~/Content/logo1.png" alt="" style="width:35px;height:35px;" /></a>
                    </div>
                    <div class="fll mr10" style="max-width:400px;">
                        <a href="/VhodnyeDveri/VhodnyeDveriIndex">Люксеврострой - входные двери, межкомнатные двери, фурнитура, напольные покрытия</a>
                    </div>
                </div>
                @Html.Action("ContactOnPanel", "VhodnyeDveri")        
             
            </div>
            <div style="background:#fff;color:#666;font:12px/18px Tahoma, Arial, Helvetica, sans-serif;">
                <div id="menu">
                    <ul>
                        <li>@Html.ActionLink("Главная", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "mainmen m1" })</li>
                        <li>@Html.ActionLink("Входные двери", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "mainmen m2 current" })</li>
                        <li>@Html.ActionLink("Межкомнатные двери", "Contact", "VhodnyeDveri", null, new { @class = "mainmen m3" })</li>
                      @*  <li>@Html.ActionLink("Фурнитура", "Contact", "VhodnyeDveri", null, new { @class = "mainmen m4" })</li>*@
                        <li>@Html.ActionLink("Доставка и оплата", "OplataDostavka", "VhodnyeDveri", null, new { @class = "mainmen m5" })</li>
                        <li>@Html.ActionLink("Отзывы", "GetAllComment", "Comment", null, new { @class = "mainmen m6" })</li>
                        <li>@Html.ActionLink("Контакты", "ContactPage", "Contact", null, new { @class = "mainmen m7" })</li>
                        <li>@Html.ActionLink("Установка", "YstanovkaInfo", "AboutYstanovka", null, new { @class = "mainmen m8" })</li>
                        <li>@Html.ActionLink("Админ", "Panel", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-body">
            @RenderBody()
                    
        </div>
        <hr /> 
        <div class="footer">
            <div class="fll" style="width:350px;"> @DateTime.Now.Year - Люксеврострой - входные двери, межкомнатные двери, фурнитура, напольные покрытия</div>
            @Html.Action("ContactOnPanel", "VhodnyeDveri")
            
        </div>
        @if (TempData["messageklient"] != null)
            {
            <div class="alertmessage">@TempData["messageklient"]</div>
        }
        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", required: false)
    </div>
    <div id="modal_form_fastbuy">
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        @Html.Action("FastBuyDveriModal","VhodnyeDveri", new { id = 9999, type = "входные двери" })
    </div>
    <div id="overlay"></div><!-- Пoдлoжкa -->
           
</body>
</html>
